/vendor
/node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/hot
/public/storage
/storage/*.key
.env
.env.*.php
.env.php
Homestead.json
Homestead.yaml

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

/.vagrant
/nbproject
/.idea
/.vscode
/worker.log
