/* ---------------------- */
/* Catalog */
/* ---------------------- */
/**
 * Navbar
 * Icon
 * Main
 * Footer
 * Modal
 * Button
 * Form
 * Avatar
 * Card
 * OKR
 * Organization Page 
 * Circle Progress
**/
textarea{  
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    padding:10px;
    width:250px;
    font-size:14px;
    display:block;
    border-radius:10px;
    border:6px solid #556677;
  }
/*-------------------------*/
/* Navbar */
/*-------------------------*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* padding-left: 76px; */
    padding-right: 76px;
}
.navbar-brand{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
/* Side-menu */
.sidebar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #21897E;
    height: 100%;
    padding-top: 60px;
}
@media (max-width: 768px){
    .navbar{
        padding-right: 0;
    }
    .nav-name{
        display: none;
    }
}
@media (max-width: 575px){
    .content{
        margin-left: 0 !important;
        margin-bottom: 80px;
    }
    .search{
        display: none;
    }
    .btn.btn-search{
        display: none;
    }
    .btn-menu{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .sidebar-sm{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
}
@media (min-width:576px){
    .sidebar-sm{
        display: none;
    }
    .btn-search-sm{
        display: none;
    }
}
#sidebar{
    width: 60px;
}
.sidebar .nav-link{
    padding-top: 1rem;
    padding-left: 1.3rem;
    color: #fff;
}
.sidebar-sm .nav-link{
    color: #fff;
}
#sidebar-text{
    top: 0;
    left: -30px;
    width: 90px;
}
#sidebar-text .nav-link {   
    padding-top: 1.3rem;
    padding-left: 0;
}
#sidebar-text.open{
    left: 60px;
}
.content{
    margin-left: 60px;
}
.content.open{
    margin-left: 150px;
}
/* btn-menu */
.btn-menu{
    border-radius: 50%;
    color: #21897E;
}
.btn-menu:hover{
    background-color: #F2F2F2;
    color: #21897E;
}
.btn-menu:focus{
    box-shadow: none;
}
.btn-menu.open{
    color: #fff;
    background-color: #3BA99C;
}
/* Search */
.form-control.search{
    width: 5rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0.75rem;
    padding-bottom: 0;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
@media (min-width: 768px){
    .form-control.search{
        width: 8rem;
        padding-top: 0.75rem;
        padding-bottom: 0;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}
.form-control.search:focus{
    border-color: #3BA99C;
    box-shadow: none;
}
.btn.btn-search{
    color: #868686;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    background-color: transparent;
}
@media (max-width: 768px){
    .btn.btn-search{
        border: none;
    }
}
.btn.btn-search:hover {
    color: #fff;
    background-color: #3BA99C;
    border-color: #3BA99C;
}
.btn.btn-search:focus{
    -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(108, 117, 125, 0.2);
            box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(108, 117, 125, 0.2);
}
.navbar .avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
/*-------------------------*/
/* Icon */
/*-------------------------*/
.fas{
    font-size: 18px;
}

/*-------------------------*/
/* Main */
/*-------------------------*/
main{
    position: relative;
    top: 55px;
}

/*-------------------------*/
/* Footer */
/*-------------------------*/
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
}
.final-text{
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    color: #fefefe;
}
.copyright{
    text-align: center;
    color: #fefefe;
    font-size: 14px;
}
/*-------------------------*/
/* Modal */
/*-------------------------*/
.modal-md{
    max-width: 400px;   
}
.modal-header{
    border-bottom: none;
}
.modal-body{
    padding-top: 0;
    padding-left: 45px;
    padding-right: 45px;
}
.modal-content{
    border: none;
    border-radius: 10px;
}
/*-------------------------*/
/* Button */
/*-------------------------*/
.btn.btn-cmoney{
    background-color: #4A4A4A;
    border: 1px solid #4A4A4A;
}
.btn.btn-cmoney:hover{
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54, 54, 54);
}
/*-------------------------*/
/* Form */
/*-------------------------*/
.form-group>label{
    margin-bottom: 0;
}
.form-group{
    margin-top: 1rem;
    margin-bottom: 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
/*-------------------------*/
/* Avatar */
/*-------------------------*/
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-md{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-sm{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-xs{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-lg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-lg.uploadIcon>i{
    font-size: 40px;
    line-height: 90px;
}

/*-------------------------*/
/* Card */
/*-------------------------*/
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 30px rgba(20%,20%,20%,0.5);
}
.card-header, .card-header:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*-------------------------*/
/* OKR */
/*-------------------------*/
@media (min-width: 992px){
    .okr-card .card-body{
        padding-left: 48px;
        padding-right: 48px;
    }
}
@media (max-width: 575px){
    .kr{
        padding-left: 20px;
    }
    .kr .value{
        margin-bottom: 10px;
    }
}

.newObjective {
    position: fixed;
    bottom: 30px;
    right: 36px;
    border-radius: 50%;
    box-shadow: 3px 3px 30px rgba(20%,20%,20%,0.7);
    z-index: 1001;
}

@media(max-width: 575px){
    .newObjective{
        right: 15px;
        bottom: 100px;
    }
}
.anchor{
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

/*-------------------------*/
/* Organization Page */
/*-------------------------*/
.uploadIcon{
    display: inline-block;
    background-color: #bbb;
    margin: 16px 16px;
    transition: all 0.5s;
}
.uploadIcon:hover{
    background-color: rgb(86, 185, 174);
}
.uploadIcon>i, .organizationIcon>i{
    font-size: 30px;
    line-height: 70px;
}
.uploadIcon .fa-upload{
    display: none;
}
.uploadIcon .fa-building, .uploadIcon .fa-images{
    display: inline;
}
#company_description, #department_description{
    resize: none;
    height: 70.5px;
}
#addMember{
    font-size: 26px;
    color: rgb(86, 185, 174);
    transition: all 0.5s;
}
#addMember:hover{
    color: #3BA99C;
}
.organizationIcon{
    display: inline-block;
    background-color: #fff;
    margin: 16px 8px;
    transition: all 0.5s;
    -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(108, 117, 125, 0.2);
            box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(108, 117, 125, 0.2);
}
/*-------------------------*/
/* Circle Progress */
/*-------------------------*/
.circle>div, .circle>a{
    position: relative;
    top: -40px;
    left: 12px;
    width: 30px;
    text-align: center;
    color: #21897E;
}

.circle-progress-text{
    position: relative;
    color: #4A4A4A;
    top: -18px;
    left: -50px;
    width: 150px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
